Teoria/main.aux
Teoria/main.log
Teoria/main.toc
.DS_Store
.vscode/tasks.json
Laboratorio/Lab02/es1
Laboratorio/Lab02/listanomi.txt
Laboratorio/Lab02/es1.dSYM/Contents/Info.plist
Laboratorio/Lab02/es1.dSYM/Contents/Resources/DWARF/es1
Laboratorio/Lab02/es1.dSYM/Contents/Resources/Relocations/aarch64/es1.yml
.vscode/launch.json
Teoria/chapters/*.aux